@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600;700;800&display=swap");
@import "./breakpoints";
@import "./animations";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-dark: #141c2f;
$secondary-dark: #1f2a48;
$accent: #0179fe;

$primary-light: #fefefd;
$secondary-light: #8f95a4;

body {
  animation: fadeInAnimation ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background-color: $primary-dark;
  color: $primary-light;
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
}

.container {
  margin: 70px auto;
  max-width: 90%;
  @include breakpoint(sm) {
    margin: 80px auto;
    width: 500px;
  }
  @include breakpoint(md) {
    margin: 90px auto;
    width: 550px;
  }
  @include breakpoint(lg) {
    margin: 100px auto;
    width: 600px;
  }
  @include breakpoint(xl) {
    margin: 110px auto;
    width: 700px;
  }
  @include breakpoint(xxl) {
    margin: 120px auto;
    width: 800px;
  }
}

.card {
  width: 100%;
  &_nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    a {
      color: $primary-light;
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration: none;
      @include breakpoint(md) {
        font-size: 1.75rem;
      }
      @include breakpoint(xl) {
        font-size: 2rem;
      }
    }
    // button {
    //   align-items: center;
    //   background-color: transparent;
    //   border: transparent;
    //   color: $primary-light;
    // }
  }
  &_search {
    align-items: center;
    background-color: $secondary-dark;
    border-radius: 1rem;
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem;
    @include breakpoint(md) {
      padding: 0.625rem 0.625rem;
    }
    @include breakpoint(xl) {
      padding: 0.75rem 0.75rem;
    }
    svg {
      fill: $accent;
      height: 1.5rem;
      width: 1.5rem;
      @include breakpoint(md) {
        height: 1.625rem;
        width: 1.625rem;
      }
      @include breakpoint(xl) {
        height: 1.75rem;
        width: 1.75rem;
      }
    }
    form {
      position: relative;
      width: 100%;
      input {
        background-color: transparent;
        border: none;
        color: $primary-light;
        font-size: 1rem;
        padding: 0.5rem;
        width: 100%;
        &::placeholder {
          color: rgba($primary-light, 0.5);
        }
        &:focus {
          outline: none;
        }
        @include breakpoint(md) {
          font-size: 1.1rem;
          padding: 0.5rem 0.75rem;
        }
        @include breakpoint(xl) {
          font-size: 1.15rem;
          padding: 0.5rem 1rem;
        }
      }
      button {
        background-color: $accent;
        border: $accent;
        border-radius: 0.5rem;
        bottom: 0;
        color: $primary-light;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        position: absolute;
        right: 0;
        top: 0;
        @include breakpoint(md) {
          font-size: 1.05rem;
          padding: 0.5rem 1.5rem;
        }
        @include breakpoint(xl) {
          font-size: 1.1rem;
          padding: 0.5rem 2rem;
        }
      }
    }
  }
  &_user {
    align-items: center;
    animation: fadeInAnimation ease 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background-color: $secondary-dark;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.75rem;
    @include breakpoint(md) {
      align-items: flex-start;
      flex-direction: row;
      padding: 1rem 1.5rem;
    }
    @include breakpoint(xl) {
      padding: 1.5rem 2rem;
    }
    &_image {
      height: 110px;
      margin-bottom: 1rem;
      width: 110px;
      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }
      @include breakpoint(md) {
        height: 115px;
        margin-bottom: 0rem;
        width: 115px;
      }
      @include breakpoint(xl) {
        height: 120px;
        width: 120px;
      }
    }
    &_info {
      display: grid;
      padding: 0.5rem;
      width: 100%;
      &_header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        &_name {
          font-size: 1.75rem;
          font-weight: 700;
          margin-bottom: 0.5rem;
          @include breakpoint(md) {
            font-size: 1.875rem;
          }
          @include breakpoint(xl) {
            font-size: 2rem;
          }
        }
        &_username {
          color: $accent;
          font-size: 1rem;
          font-weight: 300;
          letter-spacing: 0.5px;
          text-decoration: none;
          @include breakpoint(md) {
            font-size: 1.05rem;
          }
          @include breakpoint(xl) {
            font-size: 1.1rem;
          }
        }
        &_date {
          color: rgba($primary-light, 0.5);
          font-size: 0.8rem;
          font-weight: 400;
          margin-bottom: 0.5rem;
          @include breakpoint(md) {
            font-size: 0.9rem;
          }
          @include breakpoint(xl) {
            font-size: 1rem;
          }
        }
        @include breakpoint(md) {
          align-items: center;
          flex-direction: row;
        }
      }
      &_bio {
        padding: 1.25rem 0;
        p {
          color: rgba($primary-light, 0.6);
          text-wrap: balance;
          @include breakpoint(md) {
            text-wrap: wrap;
          }
        }
      }
      &_repo {
        align-items: center;
        background-color: $primary-dark;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 1.5rem;
        padding: 0.5rem 0;
        text-align: center;
        h2 {
          color: rgba($primary-light, 0.7);
          font-size: 0.65rem;
          font-weight: 400;
          margin-bottom: 0.3rem;
          @include breakpoint(md) {
            font-size: 0.7rem;
          }
          @include breakpoint(xl) {
            font-size: 0.8rem;
          }
        }
        p {
          font-size: 1.2rem;
          font-weight: 500;
          @include breakpoint(md) {
            font-size: 1.35rem;
          }
          @include breakpoint(xl) {
            font-size: 1.5rem;
          }
        }
        @include breakpoint(md) {
          padding: 0.75rem 0;
        }
        @include breakpoint(xl) {
          padding: 1rem 0;
        }
      }
      &_details {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: 1fr;
        & div {
          align-items: center;
          display: inline-flex;
          i {
            font-size: 1.1rem;
            margin-right: 0.5rem;
            @include breakpoint(md) {
              font-size: 1.15rem;
            }
            @include breakpoint(xl) {
              font-size: 1.2rem;
            }
          }
          p {
            font-size: 1rem;
            span {
              color: rgba($primary-light, 0.5);
            }
            @include breakpoint(md) {
              font-size: 1.05rem;
            }
            @include breakpoint(xl) {
              font-size: 1.1rem;
            }
          }
        }
        @include breakpoint(sm) {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @include breakpoint(md) {
        padding: 0 0 0 2rem;
        width: calc(100% - 125px);
      }
      @include breakpoint(xl) {
        padding: 0 0 0 2rem;
        width: calc(100% - 125px);
      }
    }
    &_notfound {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      img {
        height: 200px;
        max-width: 100%;
      }
      h1 {
        font-size: 2rem;
        margin-top: 2rem;
      }
      p {
        margin-top: 1rem;
      }
    }
  }
}
