@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500;600;700;800&display=swap");
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  animation: fadeInAnimation ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background-color: #141c2f;
  color: #fefefd;
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
}

.container {
  margin: 70px auto;
  max-width: 90%;
}
@media (min-width: 576px) {
  .container {
    margin: 80px auto;
    width: 500px;
  }
}
@media (min-width: 768px) {
  .container {
    margin: 90px auto;
    width: 550px;
  }
}
@media (min-width: 992px) {
  .container {
    margin: 100px auto;
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .container {
    margin: 110px auto;
    width: 700px;
  }
}
@media (min-width: 1400px) {
  .container {
    margin: 120px auto;
    width: 800px;
  }
}

.card {
  width: 100%;
}
.card_nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.card_nav a {
  color: #fefefd;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card_nav a {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .card_nav a {
    font-size: 2rem;
  }
}
.card_search {
  align-items: center;
  background-color: #1f2a48;
  border-radius: 1rem;
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .card_search {
    padding: 0.625rem 0.625rem;
  }
}
@media (min-width: 1200px) {
  .card_search {
    padding: 0.75rem 0.75rem;
  }
}
.card_search svg {
  fill: #0179fe;
  height: 1.5rem;
  width: 1.5rem;
}
@media (min-width: 768px) {
  .card_search svg {
    height: 1.625rem;
    width: 1.625rem;
  }
}
@media (min-width: 1200px) {
  .card_search svg {
    height: 1.75rem;
    width: 1.75rem;
  }
}
.card_search form {
  position: relative;
  width: 100%;
}
.card_search form input {
  background-color: transparent;
  border: none;
  color: #fefefd;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}
.card_search form input::placeholder {
  color: rgba(254, 254, 253, 0.5);
}
.card_search form input:focus {
  outline: none;
}
@media (min-width: 768px) {
  .card_search form input {
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
  }
}
@media (min-width: 1200px) {
  .card_search form input {
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
  }
}
.card_search form button {
  background-color: #0179fe;
  border: #0179fe;
  border-radius: 0.5rem;
  bottom: 0;
  color: #fefefd;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width: 768px) {
  .card_search form button {
    font-size: 1.05rem;
    padding: 0.5rem 1.5rem;
  }
}
@media (min-width: 1200px) {
  .card_search form button {
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
  }
}
.card_user {
  align-items: center;
  animation: fadeInAnimation ease 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background-color: #1f2a48;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem;
}
@media (min-width: 768px) {
  .card_user {
    align-items: flex-start;
    flex-direction: row;
    padding: 1rem 1.5rem;
  }
}
@media (min-width: 1200px) {
  .card_user {
    padding: 1.5rem 2rem;
  }
}
.card_user_image {
  height: 110px;
  margin-bottom: 1rem;
  width: 110px;
}
.card_user_image img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .card_user_image {
    height: 115px;
    margin-bottom: 0rem;
    width: 115px;
  }
}
@media (min-width: 1200px) {
  .card_user_image {
    height: 120px;
    width: 120px;
  }
}
.card_user_info {
  display: grid;
  padding: 0.5rem;
  width: 100%;
}
.card_user_info_header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.card_user_info_header_name {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .card_user_info_header_name {
    font-size: 1.875rem;
  }
}
@media (min-width: 1200px) {
  .card_user_info_header_name {
    font-size: 2rem;
  }
}
.card_user_info_header_username {
  color: #0179fe;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card_user_info_header_username {
    font-size: 1.05rem;
  }
}
@media (min-width: 1200px) {
  .card_user_info_header_username {
    font-size: 1.1rem;
  }
}
.card_user_info_header_date {
  color: rgba(254, 254, 253, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .card_user_info_header_date {
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  .card_user_info_header_date {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .card_user_info_header {
    align-items: center;
    flex-direction: row;
  }
}
.card_user_info_bio {
  padding: 1.25rem 0;
}
.card_user_info_bio p {
  color: rgba(254, 254, 253, 0.6);
  text-wrap: balance;
}
@media (min-width: 768px) {
  .card_user_info_bio p {
    text-wrap: wrap;
  }
}
.card_user_info_repo {
  align-items: center;
  background-color: #141c2f;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
  text-align: center;
}
.card_user_info_repo h2 {
  color: rgba(254, 254, 253, 0.7);
  font-size: 0.65rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
@media (min-width: 768px) {
  .card_user_info_repo h2 {
    font-size: 0.7rem;
  }
}
@media (min-width: 1200px) {
  .card_user_info_repo h2 {
    font-size: 0.8rem;
  }
}
.card_user_info_repo p {
  font-size: 1.2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .card_user_info_repo p {
    font-size: 1.35rem;
  }
}
@media (min-width: 1200px) {
  .card_user_info_repo p {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .card_user_info_repo {
    padding: 0.75rem 0;
  }
}
@media (min-width: 1200px) {
  .card_user_info_repo {
    padding: 1rem 0;
  }
}
.card_user_info_details {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 1fr;
}
.card_user_info_details div {
  align-items: center;
  display: inline-flex;
}
.card_user_info_details div i {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .card_user_info_details div i {
    font-size: 1.15rem;
  }
}
@media (min-width: 1200px) {
  .card_user_info_details div i {
    font-size: 1.2rem;
  }
}
.card_user_info_details div p {
  font-size: 1rem;
}
.card_user_info_details div p span {
  color: rgba(254, 254, 253, 0.5);
}
@media (min-width: 768px) {
  .card_user_info_details div p {
    font-size: 1.05rem;
  }
}
@media (min-width: 1200px) {
  .card_user_info_details div p {
    font-size: 1.1rem;
  }
}
@media (min-width: 576px) {
  .card_user_info_details {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .card_user_info {
    padding: 0 0 0 2rem;
    width: calc(100% - 125px);
  }
}
@media (min-width: 1200px) {
  .card_user_info {
    padding: 0 0 0 2rem;
    width: calc(100% - 125px);
  }
}
.card_user_notfound {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.card_user_notfound img {
  height: 200px;
  max-width: 100%;
}
.card_user_notfound h1 {
  font-size: 2rem;
  margin-top: 2rem;
}
.card_user_notfound p {
  margin-top: 1rem;
}/*# sourceMappingURL=global.css.map */